<div class="mypage">
  <div class="container">
    <div class="make-link">
    <div class="square"></div>
    <div class="link">
      <%= link_to("/create") do %>
        <button>つくってみる</button>

      <% end %>
    <a href="/create" class="square_btn">つくってみる</a>

    </div>

    <div class="posts">
      <div class="menu">
        <h2>投稿一覧</h2>

      </div>

      <div class="post">
        <div class="main posts-index">
          <div class="container">
            <div class="posts-index-item">
              <% @posts.each do |post| %>
                <div class="posts-index-item">
                  <%= link_to(post.title,"/#{post.id}") %>
                </div>
              <% end %>
          </div>
</div>
      </div>

    </div>
    <div class="messages">
      <div class="menu">
        <h2>メッセージ</h2>
      </div>

    </div>

    </div>
    <h1></h1>

  </div>

</div>
