
<div class="tutorial">
  <div class="catch">
    <h1>バイトやイベント参加したいけど、自分で探すのは大変…</h1>
    <h1>そんな時は誰かに自分にぴったりのものを教えてもらおう！</h1>
  </div>
<div class="button_wrapper">
  <a href="/auth/twitter" class="btn message"><span class="fa fa-twitter"></span>Twitterでログイン</a>
</div>
</div>
  <div class="about">
    <h2>Flockとは</h2>
    <h2></h2>
    <p>
      Twitterを使って暇なときにイベントに誘ってもらったり、自分にぴったりのお仕事をもらたりできるサービスです。
      自分でいろいろと探す手間が省ける上、自分では見つけることのできない新しいイベントを見つけることもできます。
      Flockを使って新しい出会いや発見をしてみませんか。
    </p>
  </div>

  <div class="make">

    <h2>つくり方</h2>

      <!--のちのちimgに-->
    <div class="make-items">


    <div class="make-item">
      <div class="square"></div>
      <p>ログイン</p>
    </div>
    <div class="make-item">
      <div class="square"></div>
      <p>内容を書く</p>
    </div>
    <div class="make-item">
      <div class="square"></div>
      <p>URLシェア</p>
    </div>
    <div class="make-item">
      <div class="square"></div>
      <p>連絡を待つ</p>
    </div>

    </div>


  </div>

  <div class="example">
    <h2>こんな場面で</h2>

    <div class="example-items">

      <!--のちのちimgに-->
    <img src="/mensetsu.png" alt="暇だからイベントに誘ってほしい" class="image">
      <div class="square2"></div>
      <p>暇だからイベントに誘ってほしい！</p>
    </div>

    <div class="example-item">
      <div class="square2"></div>
      <p>こんな条件のバイトがしたい</p>

    </div>

    </div>

  </div>
  <div class="messages">
    <h2>ちょっと楽しい1日を</h2>

    <div class="button_wrapper">


      <a href="/auth/twitter" class="btn message"><span class="fa fa-twitter"></span>Twitterでログイン</a>

    </div>
  </div>


</div>
