<div class="create">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body">

          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <div class="title">
          <p>タイトル</p>
          <textarea name="title"  placeholder="タイトルを入力"><%= @post.title %></textarea>
          </div>

          <div class="content">
          <p>内容</p>
          <textarea name="content" placeholder="内容を入力"><%= @post.content %></textarea>
          <div class="button_wrapper">
          <input type="submit" class="btn message" value="つくる">
          </div>
          </div>



        </div>
      </div>
    <% end %>
  </div>
