<div class="edit">

    <h1>編集する</h1>
    <div class="form">
      <div class="form-body">
        <div class="title">
        <p>タイトル</p>
        <textarea name="title"  placeholder="タイトルを入力"></textarea>
        </div>

        <div class="content">
        <p>内容</p>
        <textarea name="content" placeholder="内容を入力"></textarea>
        </div>
        <div class="check">
        <input type="submit" value="変更">
        </div>

      </div>
    </div>


</div>
