<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<div class="posts">
  <!--each文の繰り返し-->
  <div class="posts-item">
    <div class="post-left">
      <!--ユーザーimg-->
    </div>
    <div class="post-right">
      <div class="post-username">
        <!--ユーザー名へのリンク-->
      </div>
        <!--投稿へのリンク-->
    </div>
  </div>
</div>
