<h1>show</h1>
<div class="show">
  <div class="show-user">
  <!--ユーザー情報-->
  </div>
  <div class="show-title">

  </div>
  <div class="show-content">

  </div>
  <div class="message-form">
  <!--メッセージフォーム-->
  </div>


</div>
