// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage {
  padding: 180px 8% 0;

}

//今だけ
.square {
   width: 200px;
   height: 200px;
   background: gray;
}



.menu h2{
  margin: 0;
  padding: 25px;
  border: none;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  background: transparent;
  box-sizing: border-box;
  color: #fff;
  position: relative;
  background: #607d8b;
  margin-bottom:30px;
  margin-top:50px;

}
h1{
  padding-bottom:100px;
  font-size:45px;
  text-align: center;
  line-height:150%;
}

//Progate
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}


.container2 {
  width: 80%;
  padding: 0 15px;
  margin: 0 auto;
}




.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}



.twitter {
  background-color: #55acee;
  color:white;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}



.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}


.txt-contents {
  width: 90%;
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
  //background-color: #55acee;
  //box-shadow: 0 7px rgba(#1165f4, 0.84);
  color: white;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
}
